@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  height: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: rgba(247, 247, 247, 1);

  #root {
    height: 100%;
  }

  .content {
    width: 1010px;
    min-height: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .view {
    flex-grow: 1;
  }
}

