@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: Inter, Arial, sans-serif;
  color: black;


  .content {
    width: 1010px;
    margin: 0 auto;
    padding: 30px;
  }
}

