@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: Inter, Arial, sans-serif;
  color: black;
  background-color: rgba(247, 247, 247, 1);

  .content {
    width: 1010px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
  }
}

