.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 40px;

}

.pagination {

  .ant-pagination {
    min-width: 200px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    column-gap: 15px;
    align-items: center;

    a {
      font-size: inherit;
    }

    .ant-pagination-item-active {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #1890FF;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: white;
      }
    }
  }
}

.list {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  gap: 35px;

  .movie {
    display: flex;
    width: 454px;
    height: 300px;
    column-gap: 20px;
    overflow: hidden;

    box-shadow: (4px 4px 12px rgba(0, 0, 0, 0.15));

  }
}
