.view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  row-gap: 30px;

  .pagination {

    .ant-pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-pagination-item,
      .ant-pagination-item-link {
        font-family: inherit;
        border: 0;
        background-color: inherit;
      }

      .ant-pagination-item-active {
        border-radius: 4px;
        background-color: #1890FF;

        a {
          color: white;
        }
      }
    }
  }

  .view__list {
    display: flex;
    column-gap: 40px;
    row-gap: 35px;
    flex-wrap: wrap;

    .movie {
      display: flex;
      width: 454px;
      height: 300px;
      column-gap: 20px;
      overflow: hidden;

      box-shadow: (4px 4px 12px rgba(0, 0, 0, 0.15));

      @media screen and (max-width: 1009px) {
        width: 100%;
      }
    }
  }

}

