.movie__poster {
  width: 200px;
  height: 300px;
  flex-shrink: 0;

  background: no-repeat url("magnifier.svg") center;

  @media screen and (max-width: 1009px) {
    width: 60px;
    height: 91px;
  }

  img {
    width: 200px;
    height: 300px;

    @media screen and (max-width: 1009px) {
      width: 60px;
      height: 91px;
    }
  }
}

.movie__info {
  width: 234px;
  padding-top: 12px;
  padding-right: 9px;
  display: flex;
  flex-direction: column;

  .movie__header {
    display: flex;
    justify-content: space-between;

    .movie__title {
      max-width: 170px;
      font-size: 20px;
      line-height: 28px;

      margin-bottom: 7px;
    }

    .movie__popularity {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      p {
        line-height: 0;
        margin: 0;
        font-size: 12px;
      }
    }

    .red {
      border: 2px solid #E90000;
    }
    .orange {
      border: 2px solid #E97E00;
    }
    .yellow {
      border: 2px solid #E9D100;
    }
    .green {
      border: 2px solid #66E900;
    }
  }

  .movie__rate {
    margin-bottom: 12px;

    .ant-rate-star {
      font-size: 18px;
    }

    .ant-rate-star:not(:last-child) {
      margin-right: 4px;
    }
  }

  .movie__genres {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 4px;

    margin-bottom: 10px;

    .movie__genre {
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.65);
      padding: 3px;

      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 2px;
    }
  }

  .movie__realise {
    font-size: 12px;
    color: #827E7E;

    margin-bottom: 7px;
  }

  .movie__description {
    line-height: 22px;
    flex-grow: 1;
  }
}